<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Inscription</title>
    <!-- Ajoutez ici style CSS -->
</head>
<body>
    <main>
        <h1>Inscription</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">S'inscrire</button>
            {% if form.non_field_errors %}
                <div class="error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
        </form>
        <p>Déjà membre? <a href="{% url 'login' %}">Connectez-vous</a></p>
    </main>
</body>
</html>
