<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Connexion</title>
    <!-- Ajoutez ici style CSS -->
</head>
<body>
    <main>
        <h1>Connexion</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Se connecter</button>
            {% if form.non_field_errors %}
                <div class="error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
        </form>
        <p>Pas encore membre? <a href="{% url 'signup' %}">Inscrivez-vous ici</a></p>
    </main>
</body>
</html>
